<body>
    <section class="ct_login_main_div">
        <div class="container-fluid px-0">
            <div class="ct_login_left_bg">
                <div class="row align-items-center">

                    <div class="d-flex align-items-end flex-wrap">
                        <a routerLink="/map" class="ct_white_btn ct_back_project_btn">
                            <i class="fa-solid fa-angle-left"></i>Back
                        </a>
                    </div>
                    
                    <div class="col-lg-4 offset-0 offset-lg-1  mb-4 mb-lg-0" style="margin: auto;">
                        <div class="ct_login_right_form w-60 mx-auto mx-lg-0">

                            <div class="ct_login_logo mx-auto d-block text-center mb-4">
                                <img src="assets/img/run_logo.png" alt="">
                            </div>

                            <form [formGroup]="passwordForm" (ngSubmit)="submit()">
                                <div class="ct_input-group mb-4">
                                    <input required="" type="email" name="text" autocomplete="off"
                                        formControlName="email" class="ct_input">
                                    <label class="ct_user-label">Email <span class="ct_required_star">*</span></label>
                                    <div *ngIf="passwordForm.controls['email'].invalid && passwordForm.controls['email'].touched"
                                        class="error-message">
                                        <div *ngIf="passwordForm.controls['email'].errors?.['required']">Email is
                                            required.
                                        </div>
                                        <div
                                            *ngIf="passwordForm.controls['email'].errors?.['email'] && !passwordForm.controls['email'].errors?.['required']">
                                            Invalid email format.</div>
                                    </div>
                                </div>

                                <div class="ct_input-group mb-4 position-relative">
                                    <input required type="{{ isPasswordVisible ? 'text' : 'password' }}" name="text"
                                        autocomplete="off" formControlName="new_password" class="ct_input">
                                    <label class="ct_user-label">New Password <span
                                            class="ct_required_star">*</span></label>
                                    <i class="fa-regular ct_hide_pass_wye"
                                        [ngClass]="isPasswordVisible ? 'fa-eye' : 'fa-eye-slash' "
                                        (click)="togglePasswordVisibility()"></i>
                                    <div *ngIf="passwordForm.controls['new_password'].invalid && passwordForm.controls['new_password'].touched"
                                        class="error-message">
                                        <div *ngIf="passwordForm.controls['new_password'].errors?.['required']">Password
                                            is
                                            required.</div>
                                    </div>
                                </div>

                                <div class="ct_input-group mb-4 position-relative">
                                    <input required type="{{ isPasswordVisible1 ? 'text' : 'password' }}" name="text"
                                        autocomplete="off" formControlName="confirm_password" class="ct_input">
                                    <label class="ct_user-label">Confirm Password <span
                                            class="ct_required_star">*</span></label>
                                    <i class="fa-regular ct_hide_pass_wye"
                                        [ngClass]="isPasswordVisible1 ? 'fa-eye' : 'fa-eye-slash' "
                                        (click)="togglePasswordVisibility1()"></i>
                                    <div *ngIf="passwordForm.controls['confirm_password'].invalid && passwordForm.controls['confirm_password'].touched"
                                        class="error-message">
                                        <div *ngIf="passwordForm.controls['confirm_password'].errors?.['required']">
                                            Password is
                                            required.</div>
                                            <div
                                            *ngIf="passwordMismatch && !passwordForm.controls['confirm_password'].errors?.['required']">
                                            Passwords do not match.</div>
                                    </div>

                                    <!-- <div *ngIf="form.controls['confirm_password']?.invalid && form.controls['confirm_password'].touched"
                                        class="error-message">
                                        <div *ngIf="form.controls['confirm_password'].errors?.['required']">This
                                            field is required.</div>
                                        <div
                                            *ngIf="passwordMismatch && !form.controls['confirm_password'].errors?.['required']">
                                            Passwords do not match.</div>
                                    </div> -->

                                </div>

                                <!-- <div class="ct_remember_text">
                                    <div class="ct_forgot_link" style="cursor: pointer;">
                                        <a (click)="toggleSecondDiv()">Forgot Password?</a>
                                    </div>
                                </div> -->


                                <div class="mt-4 d-block">
                                    <button type="submit" class="ct_custom_btm">
                                        <span class="circle1"></span>
                                        <span class="circle2"></span>
                                        <span class="circle3"></span>
                                        <span class="circle4"></span>
                                        <span class="circle5"></span>
                                        <span class="text">Login</span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>


<div style="text-align: center;">
    <ngx-loading [show]="loading"
        [config]="{ animationType: 'circle-swish', primaryColour: '#007bff', backdropBorderRadius: '4px' }"></ngx-loading>
</div>